<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to tickets_path, class: "navbar-brand" do %>
      <div id="theme-image">
        <%= image_tag('binocular-transparent.png', class: 'light-theme-image') %>
        <%= image_tag('LogoWhiteTransparent.png', class: 'dark-theme-image') %>
      </div>
    <% end %>

  <%# <div class="form-check form-switch" data-controller="dark"> %>
    <%# <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->dark#toggleTheme" data-dark-target="themeToggle"> %>
    <%# <label class="form-check-label" for="flexSwitchCheckDefault">Mode sombre</label> %>
  <%# </div> %>

  <div data-controller="dark">
    <div class="toggle" title="toggle dark mode">
      <label>
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="click->dark#toggleTheme" data-dark-target="themeToggle">
        <span></span>
      </label>
    </div>
  </div>


    <% if user_signed_in? %>
    <a href="#"
        <% if current_page?(tickets_path) == false %>
          class="avatar"
        <% else %>
          class="avatar-bordered"
        <% end %>
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <%= image_tag  current_user.photo, class: "avatar", alt: "dropdown menu" %>

      </a>
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h4>Menu</h4>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul>
            <li><%= link_to "Tableau de bord", dashboards_path, class: "link d-block" %></li>
            <li><%= link_to "Modifier mon profil", edit_user_registration_path, class: "link d-block" %></li>
            <li></li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class:"link" %></li>
          </ul>

        </div>
      </div>
    </div>
    <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "nav-link link" %>
    <% end %>
  </div>
</div>
