<div
  style="width: 100%; height:100vh"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-latitude-value="<%= @user.latitude %>"
  data-map-longitude-value="<%= @user.longitude %>"></div>

  <button class="floatting-button-hub">
    <%= link_to hubs_path do %>
      <i class="fa-regular fa-bell"></i>
    <% end %>
  </button>



<button
  class="floatting-button-location"
  data-controller="geolocation"
  data-action="click->geolocation#updateUserLocation"
  data-geolocation-user-id-value="<%= @user.id %>">
    <i class="fa-solid fa-location-dot"></i>
  </button>

  <button
    class="floatting-button-home"
    data-controller="geolocation"
    data-action="click->geolocation#backToUserAddress"
    data-geolocation-user-id-value="<%= @user.id %>"
    data-geolocation-address-value="<%= @user.address %>"><i class="fa-solid fa-house-user"></i></button>

<button class="floating-button" data-bs-toggle="modal" data-bs-target="#newTicket">
  <span class="icon">+</span>
</button>

<div class="modal fade" id="newTicket" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-bottom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Créer une nouvelle proposition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= link_to 'Amélioration', new_ticket_path(category: 'upgrade'), class:"btn" %>
        <%= link_to 'Dégât', new_ticket_path(category: 'damage'), class:"btn" %>
      </div>
    </div>
  </div>
</div>

<button class="floating-button-list" data-bs-toggle="modal" data-bs-target="#list">
  <span>List</span>
</button>

<div class="modal fade" id="list" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="listLabel">Liste des tickets :</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="list-container">
          <%= render "tickets/list_tickets_by_distance" %>
      </div>
    </div>
  </div>
</div>
