<div class="center-vertically">
  <div class="center-vertically-content">

    <div class="logo-container">
      <div class="logo-row logo-justify-content-center">
        <div class="logo-col-auto logo-relative-container">
          <div class="logo-content-wrapper">
          <h1>UrbanEyes</h1>
          <p>Devenez les yeux de votre Ville</p>
          <%= image_tag('binocular-transparent.png') %>
          </div>
        </div>
      </div>
    </div>


    <div class="form-container">
      <div class="row">
          <% if params[:category] == "upgrade" %>
            <div class="form-image-container">
                <%= image_tag("Improvement.png", class:"image") %>
            </div>
            <div class="form-text-container">
              <h2>👋 Bonjour <%= current_user.first_name %>!</h2>
              <h3>Proposez votre amélioration!</h3>
            </div>
          <% else %>
            <div class="form-image-container">
              <%= image_tag("Damage.png", class:"image") %>
            </div>
            <div class="form-text-container">
              <h2>👋 Bonjour <%= current_user.first_name %>!</h2>
              <h3>Déclarez un dégât!</h3>
            </div>
          <% end %>
      </div>
    </div>
<br>
    <div class="form-container">
      <div class="row">
        <%= render "form", ticket: @ticket %>
      </div>
    </div>



  </div>
</div>
