<div class="container">
  <div class="ticket-title">
    <h2><%= @ticket.category == "upgrade" ? "Proposition d'amélioration" : "Déclaration de dégât" %>
        <% if current_user.admin? || current_user.id == @ticket.user_id %>
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editTicketModal">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
         <%= link_to ticket_path(@ticket), data: {turbo_method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer ce ticket?' } do %>
            <button type="button" class="btn">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          <% end %>
        <% end %>
      <div class="modal fade" id="editTicketModal" tabindex="-1" aria-labelledby="editTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editTicketModalLabel">Modifier le Ticket</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'form', ticket: @ticket %>
            </div>
          </div>
        </div>
      </div>
    </h2>
  </div>
  <div class="photo-map">
    <div class="item-container-img" <% if @ticket.photo.attached? %> style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @ticket.photo.key %>')"<% end %>>
  </div>
  <div class="item-container-map"
    data-controller="map-show"
    data-map-show-markers-value="<%= @markers.to_json %>"
    data-map-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <div class="ticket-title">
    <h3><%= @ticket.title %></h3>
  </div>
  <div class="infos-container">
    <p>Avancement : <%= @ticket.status == "pending" ? "En cours" : "Terminé" %>
       <% if current_user.admin? %>
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editStatusModal">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        <% end %>
      <div class="modal fade" id="editStatusModal" tabindex="-1" aria-labelledby="editStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editStatusModalLabel">Modifier le Statut</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_tag change_status_ticket_path(@ticket), method: :patch, remote: true, class: 'change-status-form' do %>
                <%= select_tag 'new_status', options_for_select({ 'En cours' => 'pending', 'Terminé' => 'completed' }, @ticket.status), class: 'button mr-2' %>
                <%= button_tag "Valider", type: 'submit', class: 'ticket-btn' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <p>Lieu : <%= @ticket.address %></p>
    <p>Description : <%= @ticket.description %></p>
    <p>Auteur du ticket : <%= @ticket.user.first_name %> <%= @ticket.user.last_name %></p>
  </div>
  <div class="votes-container">
    <%= form_with(url: votes_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :ticket_id, value: @ticket.id %>
      <%= form.hidden_field :up_vote, value: true %>
      <%= button_tag(type: 'submit', class: 'btn btn-green') do %>
        <i class="fa-regular fa-thumbs-up"></i> <%= @ticket.total_up_votes %>
      <% end %>
    <% end %>
    <%= form_with(url: votes_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :ticket_id, value: @ticket.id %>
      <%= form.hidden_field :up_vote, value: false %>
      <%= button_tag(type: 'submit', class: 'btn btn-red') do %>
        <i class="fa-regular fa-thumbs-down"></i> <%= @ticket.total_down_votes %>
      <% end %>
    <% end %>
  </div>
  <div class="comments-container">
    <div class="title-comments-bar">
      <h6>Commentaires</h6>
      <button class="btn" data-bs-toggle="modal" data-bs-target="#form">Ajouter un commentaire</button>
    </div>
    <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="formLabel">Ajouter un commentaire :</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="comment-input">
            <%= render "comments/form", comment: @comment %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comments-list">
    <% @comments.each do |comment| %>
      <%= link_to ticket_comment_path(comment.ticket_id, comment.id), data: {turbo_method: :delete, confirm: 'Êtes-vous sûr de vouloir supprimer ce ticket?' } do %>
            <button type="button" class="btn">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          <% end %>
      <span><i class="fa-regular fa-comment"></i> <%= comment.user.first_name %> <%= comment.user.last_name %> a commenté :</span>
      <p><%= comment.content %></p>
    <% end %>
  </div>
</div>
