<div class="container">
  <div class="ticket-title">
    <h2><%= @ticket.category == "upgrade" ? "Proposition d'amélioration" : "Déclaration de dégât" %></h2>
  </div>
  <div class="photo-map">
    <div class="item-container-img" <% if @ticket.photo.attached? %> style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @ticket.photo.key %>')"<% end %>>
    </div>
    <div class="item-container-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="infos-container">
    <p>Avancement : <%= @ticket.status == "pending" ? "En cours" : "Terminé" %></p>
    <p>Lieu : <%= @ticket.address %></p>
    <p>Description : <%= @ticket.description %></p>
  </div>
  <%# <div class="votes-container">
    <button class="btn">Vote UP</button>
    <button class="btn">Vote DOWN</button>
  </div> %>
  <div class="votes-container">
    <%= form_with(url: votes_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :ticket_id, value: @ticket.id %>
      <%= form.hidden_field :up_vote, value: true %>
      <%= button_tag(type: 'submit', class: 'btn btn-green') do %>
        <i class="fa-regular fa-thumbs-up"></i> <%= @ticket.total_up_votes %>
      <% end %>
    <% end %>

    <%= form_with(url: votes_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :ticket_id, value: @ticket.id %>
      <%= form.hidden_field :up_vote, value: false %>
      <%= button_tag(type: 'submit', class: 'btn btn-red') do %>
        <i class="fa-regular fa-thumbs-down"></i> <%= @ticket.total_down_votes %>
      <% end %>
    <% end %>
</div>
  <div class="comments-container">
    <div class="title-comments-bar">
      <h6>Commentaires</h6>
      <button class="btn">Ajouter un commentaire</button>
    </div>
    <div class="comments-list">
      <p>Commentaire 1</p>
      <p>Commentaire 1</p>
      <p>Commentaire 1</p>
    </div>
  </div>
</div>
