<div>
  <div class="logo-container">
    <div class="logo-row logo-justify-content-center">
      <div class="logo-col-auto logo-relative-container">
        <div class="logo-content-wrapper">
        <h1>UrbanEyes</h1>
        <p>Be the eyes of your city</p>
        <%= image_tag('binocular-transparent.png') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="profile-container">
  <div class="container-content">
    <div class="content-text">
      <h2>Bonjour <%= current_user.email %></h2>
      <p>How would you like to enhance your city's public spaces today?</p>
    </div>
    <div class="content-avatar">
      <img src="https://www.lafabriquedeladanse.fr/wp-content/uploads/2018/06/Jiri-1-1-600x800.jpg" alt="Avatar">
    </div>
  </div>
</div>

<div class="btn-container">
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#tickets">Mes propositions</button>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#upgrade">Améliorations</button>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#damage">Dégâts</button>
</div>

<div class="modal fade" id="tickets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="ticketsLabel">Mes propositions</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="profile-container">
        <% @tickets.each do |ticket| %>
        <div class="container-content">
          <div class="content-text">
            <p><%= ticket.category %></p>
            <p><%= ticket.description %></p>
            <p><%= ticket.location %></p>
            <p><%= ticket.total_votes %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="upgrade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="ticketsLabel">Améliorations</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="profile-container">
        <% @tickets.each do |ticket| %>
          <% if ticket.category == "upgrade" %>
            <div class="container-content">
              <div class="content-text">
                <p><%= ticket.description %></p>
                <p><%= ticket.location %></p>
                <p><%= ticket.total_votes %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="damage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="ticketsLabel">Dégâts</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="profile-container">
        <% @tickets.each do |ticket| %>
          <% if ticket.category == "damage" %>
            <div class="container-content">
              <div class="content-text">
                <p><%= ticket.description %></p>
                <p><%= ticket.location %></p>
                <p><%= ticket.total_votes %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="dec-container">
  <div class="dec-content">
    <div class="dec-card">
      <%= image_tag("amelioration-prop.png", class:"dec-image") %>
      <div class="dec-text">
        <h2>Nouvelle amélioraion</h2>
      </div>
    </div>
    <div class="dec-card">
      <%= image_tag("damage-dec.png", class:"dec-image") %>
      <div class="dec-text">
        <h2>Nouveau dégât</h2>
      </div>
    </div>
  </div>
</div>
