<div>
  <div class="logo-container">
    <div class="logo-row logo-justify-content-center">
      <div class="logo-col-auto logo-relative-container">
        <div class="logo-content-wrapper">
        <h1>UrbanEyes</h1>
        <p>Be the eyes of your city</p>
        <%= image_tag('binocular-transparent.png') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="profile-container">
  <div class="container-content">
    <div class="content-text">
      <h2>Bonjour <%= current_user.email %></h2>
      <p>How would you like to enhance your city's public spaces today?</p>
    </div>
    <div class="content-avatar">
      <img src="https://www.lafabriquedeladanse.fr/wp-content/uploads/2018/06/Jiri-1-1-600x800.jpg" alt="Avatar">
    </div>
  </div>
</div>

<div data-controller="tabs">
  <div class="btn-container">
    <button class="btn" data-tabs-target="btn" data-action="click->tabs#open" data-id="tickets">Mes propositions</button>
    <button class="btn" data-tabs-target="btn" data-action="click->tabs#open" data-id="upgrade">Amméliorations</button>
    <button class="btn" data-tabs-target="btn" data-action="click->tabs#open" data-id="damage">Dégâts</button>
  </div>

  <div data-tabs-target="tab" data-tabs-type-value="tickets">
    <div class="profile-container">
      <div class="container-content">
        <div class="content-text">
          <% @tickets.each do |ticket| %>
            <p><%= ticket.category %></p>
            <p><%= ticket.description %></p>
            <p><%= ticket.location %></p>
            <p><%= ticket.total_votes %></p>
          <% end %>
          <button data-action="tabs#close">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div data-tabs-target="tab" data-tabs-type-value="upgrade">
    <div class="profile-container">
      <div class="container-content">
        <div class="content-text">
          <% @tickets.each do |ticket| %>
            <% if ticket.category == "upgrade" %>
              <p><%= ticket.description %></p>
              <p><%= ticket.location %></p>
              <p><%= ticket.total_votes %></p>
            <% end %>
          <% end %>
          <button data-action="tabs#close">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div data-tabs-target="tab" data-tabs-type-value="damage">
    <div class="profile-container">
      <div class="container-content">
        <div class="content-text">
          <% @tickets.each do |ticket| %>
            <% if ticket.category == "damage" %>
              <p><%= ticket.description %></p>
              <p><%= ticket.location %></p>
              <p><%= ticket.total_votes %></p>
            <% end %>
          <% end %>
          <button data-action="tabs#close">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dec-container">
  <div class="dec-content">
    <div class="dec-card">
      <%= image_tag("amelioration-prop.png", class:"dec-image") %>
      <div class="dec-text">
        <h2>Nouvelle amélioraion</h2>
      </div>
    </div>
    <div class="dec-card">
      <%= image_tag("damage-dec.png", class:"dec-image") %>
      <div class="dec-text">
        <h2>Nouveau dégât</h2>
      </div>
    </div>
  </div>
</div>
