<div class="center-vertically">
  <div class="center-vertically-content">

    <div class="logo-container">
      <div class="logo-row logo-justify-content-center">
        <div class="logo-col-auto logo-relative-container">
          <div class="logo-content-wrapper">
          <h1>UrbanEyes</h1>
          <p>Devenez les yeux de votre Ville</p>
          <div id="theme-image">
            <%= image_tag('binocular-transparent.png', class: 'light-theme-image') %>
            <%= image_tag('LogoWhiteTransparent.png', class: 'dark-theme-image') %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <div class="container-content">
        <div class="content-text">
          <h2>Bonjour <%= current_user.first_name %></h2>
          <p>Comment voulez-vous aider votre ville aujourd'hui?</p>
        </div>
        <div class="content-avatar">
           <%= image_tag  current_user.photo, class: "avatar" %>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#tickets">Mes propositions</button>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#upgrade">Améliorations</button>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#damage">Dégâts</button>
    </div>

    <div class="modal fade" id="tickets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="ticketsLabel">Mes propositions</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-container">
              <%= render "tickets/list_tickets" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="upgrade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="ticketsLabel">Améliorations</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-container">
              <%= render "tickets/upgrade_tickets" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="damage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="ticketsLabel">Dégâts</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-container">
              <%= render "tickets/damage_tickets" %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="dec-container">
      <div class="dec-content">
        <%= link_to new_ticket_path(category: 'upgrade'), class:"prop-btn" do %>
          <div class="dec-card-improvement">
            <div class="image-container">
              <%= image_tag("Improvement.png", class:"image") %>
            </div>
            <div class="dec-text">
              <span>Propose une </span> <h2>Amélioration</h2>
            </div>
          </div>
        <% end %>
        <%= link_to new_ticket_path(category: 'damage'), class:"prop-btn" do %>
          <div class="dec-card-damage">
            <div class="image-container">
              <%= image_tag("Damage.png", class:"image") %>
            </div>
            <div class="dec-text">
              <span>Déclare un</span><h2> Dégât</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if current_user.admin? %>
      <div class="btn-container">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#users">Liste utilisateurs</button>
      </div>

      <div class="modal fade" id="users" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="usersLabel">Liste utilisateurs</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-container">
              <% @users.each do |user| %>
                <div class="ticket-card">
                  <div class="card-infos">
                    <h3>
                      <% if user.role == 'user' %>
                        Utilisateur
                      <% else %>
                        Administrateur
                      <% end %>
                    </h3>
                    <p><%= user.first_name %> <%= user.last_name %></p>

                    <%= form_tag change_role_dashboards_path(user), method: :patch, remote: true, class: 'change-role-form' do %>
                      <%= select_tag 'new_role', options_for_select({ 'Utilisateur' => 0, 'Administrateur' => 1 }, user.role == 'user' ? 0 : 1), class: 'button mr-2' %>
                      <%= button_tag "Valider", type: 'submit', class: 'ticket-btn' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>


    <%# <div class="list-map-container">
      <div class="l-m-content">
        <div class="l-m-text">
          <h2>Vote for the best proposals of the community</h2>
        </div>
        <div class="l-m-buttons">
          <a href="" class="btn-l-m">List</a>
          <br>
          <br>
          <a href="" class="btn-l-m">Map</a>
        </div>
        <%= image_tag('pic.png') %>
      <%# </div>
    </div> %>

  </div>
</div>
